Django==4.2.11
djangorestframework==3.14.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.3.1
django-environ==0.13.0
python-decouple==3.8
psycopg2-binary==2.9.10
redis==5.0.1
celery==5.3.4
Pillow==11.0.0
cloudinary==1.36.0
requests==2.31.0
Faker==21.0.0
django-filter==23.5
django-redis==5.4.0
PyJWT==2.12.1
daphne==4.0.0

google-auth==2.29.0
google-auth-oauthlib==1.2.0

gunicorn==22.0.0
whitenoise==6.7.0
